@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Define CSS Variables for Light and Dark Mode */
:root {
    --light-bg-color: #FAFAFA;
    --light-text-color: #000;
    --light-quote-bg-color: rgba(82, 134, 223, 0.15);
    --light-quote-border-color: #5286df;
    --light-scrollbar-track-color: #eeeeee;
    --light-scrollbar-thumb-color: #cccccc;
    --light-overlay-color: #f5f5f5;

    --dark-bg-color: #0e1111;
    --dark-text-color: #fff;
    --dark-quote-bg-color: rgba(82, 134, 223, 0.15);
    --dark-quote-border-color: #5286df;
    --dark-scrollbar-track-color: #0e1111;
    --dark-scrollbar-thumb-color: #121617;
    --dark-overlay-color: #121617;
}

/* General Styles */
body {
    margin-top: 55px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5; 
    letter-spacing: 0.15px; 
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
}

h1, h2, h3 {
    display: inline;
    margin-left: -20px;
}

h1 {
    font-size: 46px;
    margin-left: -45px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    margin-bottom: 0;
}

h1::before, h2::before, h3::before {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-right: 5px; /* Optional: Adds space between # and the heading text */
    content: attr(data-content);
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

h1:hover::before, h2:hover::before, h3:hover::before {
    opacity: 0.2;
}

p, li {
    margin-bottom: 10px;
}

li::marker {
    color: rgba(0, 0, 0, 0.6);
}

#source {
    display: block;
}

a:visited, #mail, a {
    color: #5286df;
}

a:not(#back):not(#connect)::before {  
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transform: scaleX(0) skewX(5deg);
    transform-origin: bottom right;
    transition: transform .3s ease;
}

a:not(#back):hover::before {
    transform: scaleX(1) skewX(5deg);
    transform-origin: bottom left;
}

a:not(#back) {
    position: relative;
    width: min-content;
    white-space: nowrap;
}

#back {
    color: #636b7987;
    letter-spacing: inherit; 
    text-decoration: none;
}

hr {
    height: 1px; 
    background-color: var(--light-scrollbar-track-color); 
    border: none; 
}

img {
    width: 100%;
}

#me {
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1/1;
}

#contacts {
    display: inline-block;
    margin-left: 50px;
    transform: translateY(-110px);
}

#contact-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#contact {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 5px;
}

footer {
    height: 10vh;
}

#sub-head {
    font-size: 12px;
    color: #636b79;
}

#time {
    display: inline-block;
    padding-left: 5px;
    font-size: 10px;
}

.quote {
    border-left: 4px solid var(--light-quote-border-color);
    padding-left: 10px;
    margin-left: 0;
    background-color: var(--light-quote-bg-color);
}

video {
    filter: brightness(0) invert(0) blur(0.7px);
    opacity: 0.8;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    animation: slideIn 0.54s ease-in forwards 2.5s, slideIn2 0.36s ease-in forwards 4s;
}

.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.no-overflow {
    overflow: hidden;
}

/* Wrapper Styles */
#wrapper {
    margin: auto;
    width: 600px;
    position: relative;
}

#resume-wrapper {
    margin: auto;
    width: 600px;
    height: 100vh;
}

#pdf-embed {
    width: 100%;
    height: 102.35%;
}

.connect-with-me {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease-out, visibility 2s ease-out;
}

.connect-button {
    background-color: var(--light-scrollbar-track-color);
    color: var(--light-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.connect-button:hover {
    background-color: var(--dark-quote-bg-color); 
}

.connect-button:nth-child(2) {
    background-color: #333; /* GitHub black */
}

.connect-button:nth-child(2):hover {
    background-color: #000; /* Darker GitHub black */
}

/* Animation Styles */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Overlay Styles */
.swup-transition-overlay {
    background-color: var(--light-overlay-color);
    transition: background-color 0.25s;
}

#overlay {
    position: absolute; 
    width: 50%; height: 50%; 
    background-color: red; 
    z-index: 1;
}

#blur-overlay {
    position: absolute; 
    width: 100%; height: 100%; 
    inset: 0; 
    z-index: 1;
    backdrop-filter: blur(10px);
}

/* Devlog Styles */
.devlog {
    background-color: #ffffff80;
    list-style-type: none;
    padding: 20px;
    border-radius: 20px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

/* Media Queries */
@media (max-width: 600px) {
    #wrapper {
        margin: auto;
        width: 90%;
    }
}

@media (pointer:none), (pointer:coarse) {
    #wrapper {
        width: 90%;
        margin: auto;
    }
    #resume-wrapper {
        width: 90%;
        margin: auto;
        height: 60vh;
    }

    #pdf-embed {
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 66px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    h3 {
        font-size: 26px;
        display: inline-block;
    }
    p, div {
        font-size: 30px;
    }
    #sub-head, #time {
        font-size: 20px;
    }

    div, a, p, #sub-head {
        font-size: 12px;
    }
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    #time {
        font-size: 8px;
    }

    #contact-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    #contact {
        flex: 0 0 50%;
        box-sizing: border-box;
        padding: 5px;
    } 

    footer {
        height: 0;
    }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg-color);
        color: var(--dark-text-color);
    }

    ::-webkit-scrollbar-track {
        background: var(--dark-scrollbar-track-color);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--dark-scrollbar-thumb-color);
        border-radius: 10px;
        border: 3px solid var(--dark-scrollbar-track-color);
    }

    video {
        filter: brightness(0) invert(1) blur(0.7px);
        opacity: 1;
    }

    h1, h2, h3, p, li, #back, #time {
        color: var(--dark-text-color);
    }
    
    li::marker {
        color: rgba(255, 255, 255, 0.6);
    }
    #sub-head {
        color: #9d9696;
    }
    hr {
        height: 1px; 
        background-color: var(--dark-scrollbar-thumb-color); 
        border: none; 
    }

    .connect-button {
        background-color: var(--dark-scrollbar-thumb-color); 
        color: var(--dark-text-color);
    }
    .swup-transition-overlay {
        background-color: var(--dark-overlay-color);
    }

    .devlog {
        background-color: #131616;
    }
}