.swup-transition-overlay {
    background-color: #0e1111;
    transition: background-color 0.25s;
}
  
#wrapper {
    margin: auto;
    width: 600px;
}

body {
    margin-top: 55px;
    font-family: "Oxygen", sans-serif;
    line-height: 1.5; 
    letter-spacing: 0.15px; 
}

a:visited,#mail, a {
    color: #5286df;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    display: inline-block;
}

p,li{
    margin-bottom: 10px;
}

#back {
    color: #636b7987;
    letter-spacing: inherit; 
    text-decoration: none;
}

#sub-head {
    font-size: 12px;
    color: #636b79;
}

#time{
    display: inline-block;
    padding-left: 5px;
    font-size: 10px;
}

img {
    width: 100%;
}

@media (max-width: 600px) {
    #wrapper {
        margin: auto;
        width: 90%;
    }
}

@media (pointer:none), (pointer:coarse) {
    #wrapper {
        width: 90%;
        margin: auto;
    }
    h1 {
        font-size: 66px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    h3 {
        font-size: 26px;
        display: inline-block;
    }
    p, div {
        font-size: 30px;
    }
    #sub-head, #time {
        font-size: 20px;
    }
    
}

a:not(#back)::before {  
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s ease;
}

a:not(#back):hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:not(#back) {
    position: relative;
    width: min-content;
    white-space: nowrap;
}
  


@media (prefers-color-scheme: dark) {
    body {
        background-color: #0e1111;
        color: #fff;
    }

    h1, h2, h3, p, li, #back,#time {
        color: #fff;
    }
    #sub-head {
        color: #9d9696;
    }

    .swup-transition-overlay {
        background-color: #232b2b;
    }
}
