.swup-transition-overlay {
    background-color: #f5f5f5;
    transition: background-color 0.25s;
}

#overlay {
    position: absolute; 
    width: 99%; height: 99%; 
    background-color: #f5f5f5; 
    z-index: 1;
}
  
#wrapper {
    margin: auto;
    width: 600px;
}

#resume-wrapper {
    margin: auto;
    width: 600px;
    background-color: red;
    height: 100vh;
}

#pdf-embed {
    width: 100%;
    height: 102.35%;
}

@font-face {
    font-family: 'Mofugu';
    src: url('fonts/Mofugu.otf') format('opentype');
}

body {
    margin-top: 55px;
    font-family: "Oxygen", sans-serif;
    line-height: 1.5; 
    letter-spacing: 0.15px; 
    background-color: #FAFAFA;
}

.quote {
    border-left: 4px solid #5286df;
    padding-left: 10px;
    margin-left: 0;
    background-color: rgba(82, 134, 223, 0.15);
}

@keyframes slideIn {
    from {
        top: calc(50vh - 50px);
        left: 50%;
        transform: translate(-50%, -50%);
    }
    to {
        top: -150px;
        left: -340px;
        transform: translate(0, 0);
        transform: scale(0.6666);
    }
}

@keyframes slideIn2 {
    from {
        transform: scale(0.6666);
        top: -150px;
        left: -340px;
    }
    to {
        transform: scale(0.6666);
        top: -150px;
        left: -300px;
    }
}

video {
    filter: brightness(0) invert(0) blur(0.7px);
    opacity: 0.8;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    animation: slideIn 0.54s ease-in forwards 2.5s, slideIn2 0.36s ease-in forwards 4s;
}

.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.no-overflow {
    overflow: hidden;
}

a:visited,#mail, a {
    color: #5286df;
}

hr {
    height: 1px; 
    background-color: #eeeeee; 
    border: none; 

}



h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0;
}

p,li{
    margin-bottom: 10px;
}



li::marker {
    color: rgba(0, 0, 0, 0.6);
}


#back {
    color: #636b7987;
    letter-spacing: inherit; 
    text-decoration: none;
}

footer {
    height: 10vh;
}

#sub-head {
    font-size: 12px;
    color: #636b79;
}

#time{
    display: inline-block;
    padding-left: 5px;
    font-size: 10px;
}

img {
    width: 100%;
}

#me {
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1/1;
}

#contacts {
    display: inline-block;
    margin-left: 50px;
    transform: translateY(-110px);
}

#contact-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#contact {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 5px;
}

.devlog {
    background-color: #ffffff80;
    list-style-type: none;
    padding: 20px;
    border-radius: 20px;
}


@media (max-width: 600px) {
    #wrapper {
        margin: auto;
        width: 90%;
    }
}

@media (pointer:none), (pointer:coarse) {
    #wrapper {
        width: 90%;
        margin: auto;
    }
    #resume-wrapper {
        width: 90%;
        margin: auto;
        height: 60vh;
    }

    #pdf-embed {
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 66px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    h3 {
        font-size: 26px;
        display: inline-block;
    }
    p, div {
        font-size: 30px;
    }
    #sub-head, #time {
        font-size: 20px;
    }

    div, a, p, #sub-head {
        font-size: 12px;
    }
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    #time {
        font-size: 8px;
    }

    #contact-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    #contact {
        flex: 0 0 50%;
        box-sizing: border-box;
        padding: 5px;
    } 

    footer {
        height: 0;
    }
    
}

a:not(#back)::before {  
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transform: scaleX(0) skewX(5deg);
    transform-origin: bottom right;
    transition: transform .3s ease;
}

a:not(#back):hover::before {
    transform: scaleX(1) skewX(5deg);
    transform-origin: bottom left;
}

a:not(#back) {
    position: relative;
    width: min-content;
    white-space: nowrap;
}
  




@media (prefers-color-scheme: dark) {
    body {
        background-color: #0e1111;
        color: #fff;
    }

    video {
        filter: brightness(0) invert(1) blur(0.7px);
        opacity: 1;
    }

    #overlay {
        position: absolute; 
        width: 99%; height: 99%; 
        background-color: #0e1111; 
        z-index: 1;
    }

    h1, h2, h3, p, li, #back,#time {
        color: #fff;
    }
    
    li::marker {
        color: rgba(255, 255, 255, 0.6);
    }
    #sub-head {
        color: #9d9696;
    }
    hr {
        height: 1px; 
        background-color: #121617; 
        border: none; 
    }

    .swup-transition-overlay {
        background-color: #121617;
    }

    .devlog {
        background-color: #131616;

    }

}


