@font-face {
    font-family: Suit;
    src: url("/assets/SUIT-Regular.otf") format("opentype");
}

:root {
    --main-color: #121212;
    --main-text-color: #fff;
}

* {
    margin: 0;
    overflow-x: hidden;
    font-family: "Suit";
}

html {
    background-color: var(--main-color);
}

h3 {
    text-align: left;
    color: var(--main-text-color);
    font-size: 22px;
    font-family: "Suit";
}
a {
    text-decoration: none;
    color: var(--main-text-color);
}

/* Nav */
#nav {
    position: fixed;
    padding: 20px;
}

.nav-ports {
    color: var(--main-text-color);
    list-style-type: none;  
    display: inline;
    padding-left: 20px;
}


#theme-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--theme-color);
    border-radius: 5px;
    background: #88ccca;
}

/* Splash page */
#splash-page {
    background-color: var(--main-color);
    height: 200vh;
    width: 100vw;
}

#splash-heading-wrapper {
    background-color: var(--main-color);
    padding-top: 20vh;
    text-align: center;
}

#name {
    color: var(--main-text-color);
    font-size: 54px;
    font-family: "Suit";
}

#sub-heading {
    color: #669997;
    font-size: 14px;
    padding-bottom: 50px;
}

.splash-button {  
    color: #88ccca;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    border: solid #88ccca;
    border-width: 2px;
}

#about-button {
    width: 100px;
    margin-right: 7px;
    background-color: var(--main-color);
    font-family: "Suit";
}

#works-button{
    color: var(--main-color);
    width: 80px;
    margin-left: 7px;
    background-color: #88ccca;
}
/* Works page */

#works-header {
    text-decoration: none;
    background-image: linear-gradient(to right, #88ccca, #88ccca);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 35px 2px;
    transition: background-size .5s ease;
}

#works-header:hover {
    background-size: 70px 2px;
}

#old-projects-header {
    text-decoration: none;
    background-image: linear-gradient(to right, #88ccca, #88ccca);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 66px 2px;
    transition: background-size .5s ease;
}   

#old-projects-header:hover {
    background-size: 132px 2px;
}
.project-frame {
    overflow-y: hidden;
    width: 800px;
    margin: auto;
    margin-top: 60px;
}

.project-preview {  
    width: 325px;
    height: 225px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.project-thumbnail {
    width: 275px;
    height: 155px;
    margin-left: 25px;
    border-radius: 5px;
    border: solid #88ccca;
    border-width: 2px;
}

.project-name {
    text-align: center;
    color: var(--main-text-color);
}

.project-desc {
    margin-left: 25px;
    width: 275px;
    text-align: center;
    color: #7e8490;
}

@media screen and (max-width: 800px) {
    .project-frame {
        all: initial;
    }
    #works-header {
        margin-top: 10vh;
        margin-left: 39px;
    }
    #old-projects-header {
        margin-left: 39px;
    }

    
    #old-projects {
        all: initial;
    }
}

  